{% comment %}
  Render all accordion rows for a block
  Params:
  - title: string
  - metafield: product metafield object
  - shopify_attributes: attributes from the block
{% endcomment %}

{%- if metafield and metafield.value != blank -%}
  <div class="product__accordion flex flex-col" {{ shopify_attributes }}>
    {% render 'collapsible-row', metafield: metafield, title: title %}
  </div>
{%- endif -%}
