{% comment %}
  Renders product options

  Usage:
  {% render 'product-options' %}
{% endcomment %}

<div class="product_option w-full flex flex-col gap-6">
  {%- for option in product.options_with_values -%}
    {%- assign option_name_normalized = option.name | downcase | strip -%}

    <div class="product__options flex flex-col gap-3">
      <div class="product__options--name">
        {%- if option_name_normalized contains 'size'
          or option_name_normalized contains 'shoe size'
          or option_name_normalized contains 'розмір'
        -%}
          <div class="product__options-name subtitle flex justify-between items-center w-full">
            <span class="">{{ 'products.product.select_size' | t | escape }}</span>
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'modal' -%}
                  <button
                    {{ block.shopify_attributes }}
                    type="button"
                    class="open-size-guide subtitle underline cursor-pointer shrink-0"
                    aria-controls="sizeGuideModal"
                  >
                    {{- 'buttons.size_guide' | t -}}
                  </button>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>

      {%- if option_name_normalized contains 'color'
        or option_name_normalized contains 'colour'
        or option_name_normalized contains 'колір'
      -%}
        <div class="product__options-values flex flex-wrap gap-2">
          {% render 'color-option', option: option %}
        </div>

      {%- elsif option_name_normalized contains 'size'
        or option_name_normalized contains 'shoe size'
        or option_name_normalized contains 'розмір'
      -%}
        <div class="product__options-values grid grid-cols-2 lg:grid-cols-3 gap-2">
          {% render 'size-option', option: option %}
        </div>
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>
