{% comment %}
  Product review stars snippet
  Usage:
  {% render 'stars', stars: 3 %}
  'stars' = number of filled stars (integer)
{% endcomment %}

{% assign max_stars = 5 %}
{% assign full_stars = stars | round %}
{% assign empty_stars = max_stars | minus: full_stars %}

<div class="stars flex gap-0.5" role="img" aria-label="{{ stars }} out of 5 stars">
  {%- for star in (1..full_stars) -%}
    {{ 'star-icon.svg' | inline_asset_content }}
  {%- endfor -%}

  {%- for star in (1..empty_stars) -%}
    {{ 'outline-star-icon.svg' | inline_asset_content }}
  {%- endfor -%}
  <span class="sr-only">{{-'reviews.out_of_stars' | t: count: stars -}}</span>
</div>
