.image__banner--content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 90%;
  color: var(--color-white);
  grid-column: 2;
}

@media (min-width: 768px) {
  .image__banner--content {
    left: 60px;
    transform: translateY(-50%);
    max-width: 648px;
  }
}
