@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --h1-mobile: 1.875rem;
  --h1-mobile-line: 2.25rem;
  --h1-tablet: 2.5rem;
  --h1-tablet-line: 2.75rem;
  --h1-desktop: 3rem;
  --h1-desktop-line: 3rem;

  --h2-mobile: 1.5rem;
  --h2-mobile-line: 2rem;
  --h2-tablet: 1.75rem;
  --h2-tablet-line: 2.25rem;
  --h2-desktop: 1.875rem;
  --h2-desktop-line: 2.25rem;

  --body-large: 1rem;
  --body-large-line: 1.5rem;

  --body-medium: 0.875rem;
  --body-medium-line: 1.25rem;

  --border-radius: 8px;

  --color-dark: #111111;
  --color-gray: #737373;
  --color-light-gray: #ebebeb;
  --color-white: #ffffff;
  --active-bg: #11111133;
  --color-gray-modal: #f5f5f5;
  --shadow: rgba(17, 17, 17, 0.8);

  /* Buttons */
  --btn-primary-bg: #ffffff;
  --btn-primary-text: #111111;
  --btn-primary-bg-hover: #cacacb;
  --btn-secondary-bg: #111111;
  --btn-secondary-text: #ffffff;
  --btn-secondary-bg-hover: #737373;
  --btn-secondary-text-hover: #ffffff;
}

@layer components {
  .h1 {
    font-size: var(--h1-mobile);
    line-height: var(--h1-mobile-line);
  }

  .h2 {
    font-size: var(--h2-mobile);
    line-height: var(--h2-mobile-line);
  }

  .body {
    font-size: var(--body-large);
    line-height: var(--body-large-line);
  }

  .subtitle {
    font-size: var(--body-medium);
    line-height: var(--body-medium-line);
  }

  .caption-with-letter-spacing {
    text-transform: uppercase;
  }

  header {
    @apply border-b;
    border-color: var(--color-light-gray);
  }
  .header,
  .footer,
  .reviews {
    display: grid;
    grid-template-columns: var(--content-grid);
  }

  .header__container,
  .footer__container,
  .reviews__container {
    grid-column: 2;
  }

  header .logo svg {
    width: 100px;
    height: 24px;
  }

  header .header__cart svg,
  header .header__button svg {
    width: 24px;
    height: 24px;
  }

  header nav a {
    @apply hover:text-indigo-600 transition-colors duration-300;
  }

  .button--primary,
  .button--secondary {
    @apply px-8 py-4;
    border-radius: var(--border-radius);
    cursor: pointer;
  }

  .button--primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
  }

  .button--primary:hover {
    background-color: var(--btn-primary-bg-hover);
  }

  .button--secondary {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-text);
  }

  .button--secondary:hover {
    background-color: var(--btn-secondary-bg-hover);
    color: var(--btn-secondary-text-hover);
  }
}
